header {

    >div,
    nav {
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
        width: calc(100% - 80px);
    }

    div {
        display: flex;
        width: 40%;

        h1 {
            font-family: $mainText;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 3rem;
            color: $black;
        }
    }

    nav {

        display: flex;
        width: 50%;

        ul {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;

            li {
                display: flex;
                font-family: $mainText;
                font-weight: bold;
                text-transform: uppercase;
                padding-top: 10px;

                a,
                a:visited {
                    color: $black;
                    text-decoration: none;
                    height: 30px;
                }

                a:hover {
                    color: $accentGreen;
                    cursor: pointer;
                }
            }


        }
    }

    .mobileMenu {
        display: none;
    }
}

@media (max-width: 1200px) {
    header {

        nav {
            width: 100%;
        }
    }
}

@media (max-width: 1000px) {
    header {

        div {
            width: 100%;

            .mobileMenu {
                display: inline-block;
                align-items: center;
                font-size: 3rem;
                padding-right: 30px;
                height: 50px;
            }

            i:hover {
                color: $accentGreen;
            }
        }

        nav {
            ul {
                flex-direction: flex-end;
                justify-content: flex-end;

                li {
                    padding: 0;
                }

                li:nth-child(-n+7) {
                    display: none;
                }

                a {
                    padding: 0 10px;

                    i {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    header {
        div {
            flex-direction: row-reverse;
            justify-content: space-between;

            h1 {
                font-size: 1.8rem;
            }

            .mobileMenu {
                font-size: 1.8rem;
            }
        }

        nav {
            display: none;
        }
    }

}