$mainText: 'Raleway', sans-serif;
$bodyText: 'Lora', serif;
$brownGrey: #999999;
$black: #2E2E2E;
$black2: #333333;
$white: #F6F6F6;
$mainGreen: #DDED9A;
$accentGreen: #64A604;
$buttonColor: $accentGreen;
$footerBackground: $black2;