a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

header > div,
header nav {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  width: calc(100% - 80px);
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

header div h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem;
  color: #2E2E2E;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
}

header nav ul li a,
header nav ul li a:visited {
  color: #2E2E2E;
  text-decoration: none;
  height: 30px;
}

header nav ul li a:hover {
  color: #64A604;
  cursor: pointer;
}

header .mobileMenu {
  display: none;
}

@media (max-width: 1200px) {
  header nav {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  header div {
    width: 100%;
  }
  header div .mobileMenu {
    display: inline-block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3rem;
    padding-right: 30px;
    height: 50px;
  }
  header div i:hover {
    color: #64A604;
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: flex-end;
            flex-direction: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header nav ul li {
    padding: 0;
  }
  header nav ul li:nth-child(-n+7) {
    display: none;
  }
  header nav ul a {
    padding: 0 10px;
  }
  header nav ul a i {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  header div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header div h1 {
    font-size: 1.8rem;
  }
  header div .mobileMenu {
    font-size: 1.8rem;
  }
  header nav {
    display: none;
  }
}

header {
  background: url("../delicious-assets/home-1.jpeg");
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main h2,
main h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #2E2E2E;
}

main h2 {
  font-size: 1.8rem;
  margin-bottom: 40px;
}

main h2:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 20%;
  padding-top: 20px;
  border-bottom: 5px solid #64A604;
}

main p {
  font-family: "Lora", serif;
  font-weight: bold;
  letter-spacing: 0.5px;
}

main .recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .recipes div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .recipes div h2,
main .recipes div p,
main .recipes div a {
  max-width: 80%;
}

main .recipes div p {
  color: #999999;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin-bottom: 40px;
}

main .recipes div a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #F6F6F6;
  background-color: #64A604;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 40px;
  border: 2px solid #FCFCFC;
}

main .recipes div a:hover {
  color: #64A604;
  background-color: #F6F6F6;
  border: 2px solid #64A604;
}

main .recipes div img {
  width: 100%;
}

main .offerings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .offerings div:first-child {
  width: 50%;
}

main .offerings div:first-child img {
  width: 100%;
}

main .offerings div:nth-child(2) ul {
  margin-left: 50px;
}

main .offerings div:nth-of-type(2),
main .offerings div:nth-of-type(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
}

main .offerings div:nth-of-type(2) li:last-child p,
main .offerings div:nth-of-type(3) li:last-child p {
  margin-bottom: 0;
}

main .offerings div:nth-of-type(2) ul,
main .offerings div:nth-of-type(3) ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .offerings div:nth-of-type(2) ul li,
main .offerings div:nth-of-type(3) ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .offerings div:nth-of-type(2) ul li .flexIcons,
main .offerings div:nth-of-type(3) ul li .flexIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

main .offerings div:nth-of-type(2) ul li .flexIcons h3,
main .offerings div:nth-of-type(2) ul li .flexIcons i,
main .offerings div:nth-of-type(3) ul li .flexIcons h3,
main .offerings div:nth-of-type(3) ul li .flexIcons i {
  color: #2E2E2E;
}

main .offerings div:nth-of-type(2) ul li .flexIcons i,
main .offerings div:nth-of-type(3) ul li .flexIcons i {
  font-size: 1.8rem;
  margin-right: 20px;
}

main .offerings div:nth-of-type(2) ul li .flexIcons h3,
main .offerings div:nth-of-type(3) ul li .flexIcons h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: left;
}

main .offerings div:nth-of-type(2) ul li p,
main .offerings div:nth-of-type(3) ul li p {
  font-weight: 600;
  font-size: 0.8rem;
  color: #999999;
  line-height: 1.4rem;
  margin-left: 50px;
  margin-bottom: 50px;
}

main .ourRestaurants {
  text-align: center;
  position: relative;
}

main .ourRestaurants img {
  margin-top: 200px;
  margin-bottom: 75px;
}

main .ourRestaurants > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .ourRestaurants > div::after {
  content: url("../delicious-assets/home-circle-text.png");
  position: absolute;
  right: 370px;
  top: 90px;
  z-index: 1;
}

main .ourRestaurants h2:after {
  width: 5%;
  padding-top: 30px;
}

main .ourRestaurants p {
  width: 50%;
  margin: 0 auto;
  color: #999999;
  font-size: 0.8rem;
  line-height: 1.4rem;
  padding-bottom: 150px;
}

main .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .gallery div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc((100% / 3) * 2);
}

main .gallery div:first-child a {
  display: none;
}

main .gallery div:first-child img {
  width: 50%;
}

main .gallery div:last-child {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% / 3);
}

main .hungryClients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #DDED9A;
}

main .hungryClients div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

main .hungryClients div:first-child h2 {
  margin-top: 125px;
}

main .hungryClients div:first-child h2:after {
  width: 30%;
}

main .hungryClients div:first-child p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  font-style: italic;
  color: #333333;
  opacity: 0.8;
  margin-bottom: 60px;
}

main .hungryClients div:first-child i {
  position: absolute;
  color: #F6F6F6;
  font-size: 3rem;
}

main .hungryClients div:first-child i:first-child {
  left: -70px;
  bottom: 150px;
}

main .hungryClients div:first-child i:last-child {
  right: -70px;
  bottom: 70px;
}

main .hungryClients div:last-child i {
  font-size: 2rem;
  color: #F6F6F6;
  opacity: 0.8;
  margin: 0 20px 125px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .hungryClients div:last-child i:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.3;
  transition: all 0.3;
}

@media (max-width: 1420px) {
  .offerings p {
    height: 67px;
    overflow: scroll;
  }
}

@media (max-width: 1100px) {
  header {
    height: 80vh;
    background-position: center;
  }
  main .recipes div:first-child {
    width: 65%;
    margin: 80px 0;
  }
  main .recipes div:nth-child(2) {
    width: calc(35% - 80px);
  }
  main .offerings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .offerings div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: calc(35% - 80px);
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 80px;
  }
  main .offerings div:nth-of-type(2),
  main .offerings div:nth-of-type(3) {
    width: calc(65% / 2);
  }
  main .offerings div:nth-of-type(2) ul,
  main .offerings div:nth-of-type(3) ul {
    margin: 0 auto;
  }
  main .offerings div:nth-of-type(2) ul li .flexIcons,
  main .offerings div:nth-of-type(3) ul li .flexIcons {
    width: 50%;
  }
  main .ourRestaurants > div:after {
    right: 200px;
  }
  main .gallery div:first-child {
    width: 100%;
  }
  main .gallery div:last-child {
    display: none;
  }
}

@media (max-width: 850px) {
  main .recipes div:first-child {
    width: 100%;
  }
  main .recipes div:last-child {
    display: none;
  }
  main .offerings div:first-child {
    display: none;
  }
  main .offerings div:nth-of-type(2),
  main .offerings div:nth-of-type(3) {
    width: 100%;
  }
  main .ourRestaurants img {
    margin-top: 120px;
  }
  main .ourRestaurants p {
    width: 75%;
    font-size: 1rem;
    padding-bottom: 80px;
  }
  main .gallery div:first-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  main .gallery div:first-child div a {
    font-family: "Raleway", sans-serif;
    color: #64A604;
    font-size: 2.5rem;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  main .gallery div:first-child div a:first-child {
    left: 40px;
    bottom: 130px;
  }
  main .gallery div:first-child div a:nth-child(2) {
    right: 40px;
    bottom: 130px;
  }
  main .gallery div:first-child div a:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transition: all 0.3;
    transition: all 0.3;
  }
  main .gallery div:first-child img:nth-child(3),
  main .gallery div:first-child img:nth-child(4) {
    display: none;
  }
  main .hungryClients div:first-child i {
    display: none;
  }
  main .hungryClients div:first-child h2 {
    text-align: center;
  }
  main .hungryClients div:first-child p {
    font-size: 1rem;
    overflow: scroll;
    height: 200px;
  }
}

@media (max-width: 550px) {
  main .recipes h2 {
    text-align: center;
  }
  main .offerings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .offerings div:first-child {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding-bottom: 60px;
  }
  main .offerings div:nth-child(2) ul li p,
  main .offerings div:nth-child(3) ul li p {
    margin: 0 0 20px;
    width: 60%;
  }
  main .offerings div:nth-child(2) ul li .flexIcons,
  main .offerings div:nth-child(3) ul li .flexIcons {
    padding-bottom: 10px;
  }
  main .gallery div:first-child img:first-child {
    width: 100%;
  }
  main .gallery div:first-child img:nth-child(2) {
    display: none;
  }
}

footer {
  background-color: #333333;
}

footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 80px 0;
}

footer > div div {
  width: calc((100% - 120px) / 3);
  margin: 0 60px;
}

footer span {
  display: block;
}

footer h5,
footer i {
  color: #F6F6F6;
}

footer h4,
footer h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}

footer p {
  font-family: "Lora", serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #999999;
}

footer h4 {
  color: #64A604;
  font-size: 2.5rem;
}

footer h4 + p {
  border-bottom: 1px solid rgba(153, 153, 153, 0.5);
  padding-bottom: 10px;
}

footer h4 + p + p {
  border-bottom: 1px solid rgba(153, 153, 153, 0.5);
  padding: 10px 0;
}

footer h4 + p + p + p {
  border-bottom: 1px solid rgba(153, 153, 153, 0.5);
  padding: 10px 0;
}

footer h4 + p + p + p + p {
  padding-top: 10px;
}

footer h5 {
  font-size: 1.2rem;
}

footer h5 ~ p {
  display: block;
  border-bottom: 1px solid rgba(153, 153, 153, 0.5);
  padding: 8px 0;
}

footer div div:nth-child(2) p:hover {
  color: #64A604;
  cursor: pointer;
}

footer div div:last-child p {
  border: none;
  padding-bottom: 20px;
}

footer div div:last-child input {
  width: 80%;
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 0.9rem;
  color: #999999;
  background-color: #525252;
  border: none;
  padding: 10px;
  padding-right: 27px;
  margin-bottom: 30px;
}

footer div div:last-child .arrowNav {
  background-color: #64A604;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  border: none;
}

footer div div:last-child .arrowNav:hover i,
footer div div:last-child .arrowNav:hover {
  background-color: #F6F6F6;
  color: #64A604;
}

footer div div:last-child .socialLinks {
  border-top: 1px solid rgba(153, 153, 153, 0.5);
  padding-top: 10px;
  margin-bottom: 90px;
}

footer div div:last-child .socialLinks i {
  padding-right: 10px;
}

footer div div:last-child .socialLinks i:hover {
  color: #64A604;
  cursor: pointer;
}

@media (max-width: 1420px) {
  footer > div div:nth-child(2) {
    margin: 0 auto;
  }
}

@media (max-width: 1255px) {
  footer > div div {
    max-height: 340px;
  }
  footer > div div:first-child {
    margin-left: 0px;
  }
  footer p {
    max-height: 100px;
    overflow: scroll;
  }
  footer > div div:nth-child(2) {
    overflow: scroll;
  }
  footer div div:last-child {
    margin-right: 0;
  }
  footer div div:last-child input {
    width: 75%;
  }
  .recentPosts {
    overflow: scroll;
  }
}

@media (max-width: 850px) {
  footer p {
    line-height: 1.4rem;
  }
  footer div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
  }
  footer div div:nth-child(2) {
    display: none;
  }
  footer div div:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer div div:last-child h5 {
    display: none;
  }
  footer div div:last-child .socialLinks {
    margin-bottom: 20px;
    margin-top: 8px;
    font-size: 2rem;
    border: none;
  }
  footer div div:last-child .socialLinks:hover {
    color: #64A604;
    cursor: pointer;
  }
  footer div div:last-child .arrowNav {
    margin-bottom: 10px;
  }
  footer div div:last-child .arrowNav i {
    display: none;
  }
  footer div div:last-child .arrowNav:after {
    content: 'Subscribe Now';
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #F6F6F6;
    font-weight: 700;
  }
  footer div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 0 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
  }
  footer div div h4 {
    margin-bottom: 10px;
  }
  footer div div p:nth-of-type(1) {
    display: none;
  }
}
